<!doctype html>
<html>
  <head>
    <title>New Movies This Week</title>
      <script src="./scraper.js"></script>
  </head>
  <body>
    <div id="status">
      each movie in movie_list
        h4= movie[1]
      each image in images
        img(src = image)
    </div>
  </body>
</html>
