<!doctype html>
<html>
  <head>
    <title>New Movies This Week</title>
  </head>
  <body>
    <div id="status">
      <img src= image> </img>
      <h4>title= title </h4>
    </div>
    <img id="image-result" hidden>
  </body>
</html>
