<!doctype html>

<link rel="stylesheet" type="text/css" href="css/styles.css" />
<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css"
<html>
  <head>
    <title>New Movies This Week</title>
      <script src="./scraper.js"></script>
  </head>
  <body width="100%">
    <div class="container" id="container">
      <div class="row">
        <div class="movie-container" id="movie-container">
          each item in movie_list
            <div class="col col-md-3">
              <div class="poster-image text-center" id="poster-image">
                img(src = item.movie_image_url)
                h4= item.movie_title
              </div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
