<!doctype html>
<html>
  <head>
    <title>New Movies This Week</title>
      <script src="./scraper.js"></script>
  </head>
  <body>
    <div id="status">
      each key in images
        <ul>
          img(src=key)
        </ul>
      each key in title_list
          h4= key
    </div>
  </body>
</html>
